#!/usr/bin/make -f

export PATH := /usr/local/go/bin:/usr/lib/go-1.25/bin:$(PATH)
MODULE_PATH := github.com/khgreav/chronosplit
VERSION := $(shell dpkg-parsechangelog -S Version)

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=0 go build -trimpath \
		-ldflags="-s -w -X $(MODULE_PATH)/version.Version=$(VERSION)" \
		-o bin/chronosplit .

override_dh_auto_install:
	install -D -m 0755 bin/chronosplit debian/chronosplit/usr/bin/chronosplit
